@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.para {
    font-family: 'PT Sans Caption', sans-serif;
}

*,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.phone {
    display: none;
}

#landing {
    position: relative;
    background: url(../assets/bg.png) no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

.navbar {
    padding: 1rem 0 0 2rem;
    font-family: 'Raleway', sans-serif;
}

.navbar #btn {
    background-color: transparent;
    border: 0;
    margin-left: 2rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.links a {
    display: flex;
    color: black;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    flex-direction: column;
    margin-top: 2rem;

}

.content {
    height: 90vh;
    width: 100%;
    color: white;
    font-family: 'Alex Brush' !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content span {
    font-size: 12rem;
}

.content div {
    font-size: 2rem;
    margin-top: -3rem;

}

#book{
    background-color: bisque;
    font-family: 'Raleway';
    padding: .6rem;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
    margin-top: 1rem;
}

/* Services  */
.services img {
    width: 100%;
    flex-wrap: wrap;
}

.services_content {
    display: flex;
    font-family: 'Raleway', sans-serif;
    margin-top: 2rem;
    justify-content: space-around;
}

.services_content span {
    font-size: 3rem;
    padding: 1rem;
}

.services_content div {
    width: 30%;
    font-size: 1rem;
    padding: 1.5rem;
}


/* About  */
.about {
    margin: 5rem 0 5rem 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-evenly;
}

.about img {
    width: 35%;
    border-radius: 1rem;
}

.about div {
    width: 30%;
    display: flex;
    gap: 1rem;
    font-weight: bold;
    flex-direction: column;
    margin-top: 3rem;
}

.about div h1 {
    font: bolder;
    text-transform: uppercase;
}

/* Footer  */

video {
    font-family: 'Raleway', sans-serif;
    object-fit: cover;
    width: 99vw;
    height: 100vh;
    position: relative;
    top: 0;
    z-index: 0;
    left: 0;
}

.viewport_header {
    height: 80vh;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 1;
    align-items: center;
    justify-content: center;
    color: white;
}

footer .heading {
    display: flex;
    font-family: 'Raleway', sans-serif;
    height: 45vh;
    font-size: 5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer .socials {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: white;
    padding: 1pc;
    padding-top: 1.3pc;
    margin-top: -1rem;
    background-color: #4C4646;
}

@media screen and (max-width: 800px) {
    .content span {
        font-size: 6rem;
        margin-bottom: 2rem;
    }

    #landing {
        background: url(../assets/mobile_bg.png) no-repeat;
        background-size: cover;
;
    }

    .services_content {
        flex-direction: column;
    }

    .services_content span {
        font-size: 2rem;
    }

    .services_content div {
        width: 100%;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .about {
        margin: 5rem 0 5rem 0;
        flex-direction: column;
        align-items: center;
    }

    .about img {
        width: 60%;
    }

    .about h1 {
        font-size: larger;
        width: 100%
    }

    .about div {
        width: 80%;
    }

    #about2 {
        flex-direction: column-reverse;
    }

    footer .heading {
        font-size: 3rem;
    }

    footer .copyright {
        font-size: .9rem;
        text-align: center;
    }

    .viewport_header {
        height: 100vh;
    }
}