*, html{
    margin: 0;
    padding: 0;
}

#landing{
    position: relative;
    background: url(../assets/bg.png) no-repeat;
    background-size: cover;
}

.navbar{
    padding: 1rem 0 0 2rem;
}

.navbar button{
    background-color:transparent;
    border: 0;
    cursor: pointer;
}

.content{
    height: 100vh;
    width: 100%;
    color: white;
    font-family: 'Alex Brush', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content span{
    font-size: 12rem;
}

.content div{
    font-size: 2rem;
    margin-top: -3rem;

}